<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= album.title %></title>
  <%- include ./partials/style_script %>
</head>
<body>
<%- include ./partials/navbar %>

<div id="individual-album">
  <div class="album-page-headings">
    <h1><%= album.title %></h1>
    <em>by <%= album.artist %></em>
    <br>
    <br>

    <h2>Reviews</h2>
  </div>
  <form action="/albums/<%=album.id%>/reviews/new" method="GET" class="add-review-button">
    <button type="submit">Add Review</button>
  </form>
  <br>
  <br>

  <% if(reviews.length === 0) {%>
    <h3>No reviews yet!</h3>
    <% } else { %>
      <% reviews.forEach(function(review){ %>
        <div class="single-review">
          <h6 class="review-date"><%=review.review_date.toDateString().substring(0, 15)%></h6>
          <h6 class="review-content"><%=review.content%></h6>
          <h6 class="review-author">by: <a href="/users/<%=review.author%>"><%=review.review_author%></a></h6>
          <% if(user.id === review.author) {%>
            <div class="authored-review">
              <button class="fa fa-trash" id="delete-review-button"></button>
              <br>
              <br>
              <div class="modal" id="delete-confirmation">
                <div class="modal-content">
                  <h3>Are you sure you want to delete your review for <%=album.title%>?</h3>
                  <form action="/albums/<%= album.id%>/reviews/delete/<%=review.id%>" method="POST">
                    <button type="submit" id="confirm-delete-button">DELETE</button>
                  </form>
                  <form action="/albums/<%=album.id%>" method="GET">
                    <button id="delete-cancel-button">CANCEL</button>
                  </form>
                </div>
              </div>
            </div>
        </div>
          <%}%>
          <% }) %>

          <% } %>
          <br>

</div>

<script type="text/javascript" src="/script.js"></script>
<%-include ./partials/footer %>
