<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= album.title %></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
<%- include ./partials/navbar %>

  <h1><%= album.title %></h1>
  <em>by <%= album.artist %></em>

  <h2>Reviews</h2>
  <% if(reviews.length === 0) {%>
      <h3>No reviews yet!</h3>
  <% } else { %>

    <% reviews.forEach(function(review){ %>
      <h3 class="review-list">Date Reviewed: <%=review.review_date.toDateString().substring(0, 15)%></h3>
      <h3 class="review-list"><%=review.content%></h3>
      <h3 class="review-list"><a href="/users/<%=review.author%>">Reviewed by: <%=review.review_author%></a></h3>
    <% }) %>

  <% } %>

  <!-- TODO: implement album reviews -->

</body>
</html>
