<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= album.title %></title>
  <%- include ./partials/style_script %>
</head>
<body>
<%- include ./partials/navbar %>

  <h1><%= album.title %></h1>
  <em>by <%= album.artist %></em>

  <h2>Reviews</h2>
  <% if(reviews.length === 0) {%>
      <h3>No reviews yet!</h3>
  <% } else { %>
    <% reviews.forEach(function(review){ %>
      <h3 class="review-list">Date Reviewed: <%=review.review_date.toDateString().substring(0, 15)%></h3>
      <h3 class="review-list"><%=review.content%></h3>
      <h3 class="review-list">Reviewed by: <a href="/users/<%=review.author%>"><%=review.review_author%></a></h3>
      <% if(user.id === review.author) {%>
        <form action="/albums/<%= album.id%>/reviews/delete/<%=review.id%>" method="POST">
            </a><button class="fa fa-trash"></button>
        </form>
      <%}%>
    <% }) %>

  <% } %>
  <br>
  <a href="/albums/<%=album.id%>/reviews/new">Add Review</a>


<%-include ./partials/footer %>
