<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <%- include ./partials/style_script %>
</head>
<body>
<%- include ./partials/navbar %>

  <h1>ERROR</h1>
  <h2><%= error.message %></h2>
  <pre><%= error.stack %></pre>

<%-include ./partials/footer %>
