<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <%- include ./partials/style_script %>
</head>
<body>
<%- include ./partials/navbar %>

  <h1>Vinyl</h1>

  <h2>Records</h2>

  <div class="album-list">
    <% albums.forEach(function(album) { %>
      <div>
        <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
        <span><%= album.artist %></span>
      </div>
    <% }) %>
  </div>
  <h2>Recent Reviews</h2>
  <% reviews.forEach(function(review){ %>
    <h3 class="reviewed-album-title"><%= review.album_title%></h3>
    <h3 class="review-list">Date Reviewed: <%=review.review_date.toDateString().substring(0, 15)%></h3>
    <h3 class="review-list"><%=review.content%></h3>
    <h3 class="review-author">by <%=review.review_author%></h3>
    <br>
    <br>
  <% }) %>
<%-include ./partials/footer %>
