<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <%- include ./partials/style_script %>
</head>
<body>
<%- include ./partials/navbar %>

  <div class="album-list">
    <h2>Records</h2>
    <% albums.forEach(function(album) { %>
      <div>
        <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
        <span><%= album.artist %></span>
      </div>
    <% }) %>
  </div>
  <div class="recent-reviews">
    <h2>Recent Reviews</h2>
    <% reviews.forEach(function(review){ %>
      <h3 class="title-reviewed"><a href="/albums/<%=review.album_id%>"><%= review.album_title%></a></h3>
      <h6 class="review-date"><%=review.review_date.toDateString().substring(0, 15)%></h6>
      <h6 class="review-content"><%=review.content%></h6>
      <h6 class="review-author">by <a href="/users/<%=review.author%>"><%=review.review_author%></a></h6>

      <br>
      <br>
      <% }) %>
  </div>
<%-include ./partials/footer %>
