<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : New Review</title>
  <%- include ./partials/style_script %>
</head>
<body>
  <%- include ./partials/navbar %>

  <h3 class="new-review-form-title">New Review for <%=album.title%></h3>
  <%if (message) { %>
    <p class="message empty-review-message">
      <%=message%>
    </p>
  <% } %>
  <div class="form-group new-review-form">
    <form action="/albums/<%=album.id%>/reviews/new" method="POST">
        <textarea name="content" rows="25" class="form-control col-8" type="text"></textarea>
        <br>
        <button type="submit" class="new-review-submit-button">Submit</button>
    </form>
  </div>
<%-include ./partials/footer %>
