<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : New Review</title>
  <%- include ./partials/style_script %>
</head>
<body>
  <%- include ./partials/navbar %>

  <h3>New Review for <%=album.title%></h3>
  <form action="/albums/<%=album.id%>/reviews/new" method="POST">
    <div class="form-group new-review-form">
      <div>
        <input name="album" class="form-control-row col-8" type="text" value="<%=album.id%>">
        <input name="author" class="form-control-row col-8" type="text" value="<%=user.id%>">
      </div>
      <input name="content" rows="25" class="form-control col-8" type="text"></input>
      <button type="submit" id="new-review-button">Submit</button>
    </div>
  </form>
  <%if (message) { %>
    <p class="message empty-review-message">
      <%=message%>
    </p>
  <% } %>
<%-include ./partials/footer %>
