<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : New Review</title>
  <%- include ./partials/style_script %>
</head>
<body>
  <%- include ./partials/navbar %>

  <h3>New Review for <%=album.title%></h3>
  <form class="new-review-form" action="/album/<%=album.id%>/reviews/new" method="POST">
    <textarea name="content" rows="25" class="form-control col-8"></textarea>
    <button type="submit">Submit</button>
  </form>
<%-include ./partials/footer %>
