<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= user.name %></title>
  <%- include ./partials/style_script %>
</head>
<body>
<%- include ./partials/navbar %>
  <h1><%= user.name %></h1>
  <h1><%= user.email %></h1>
  <h1>Joined: <%= user.join_date.toDateString().substring(0, 45) %></h1>


  <h2>Reviews</h2>

  <% if(reviews.length === 0) {%>
      <h3>No reviews yet!</h3>
  <% } else { %>

    <% reviews.forEach(function(review){ %>
      <h3 class="review-list">Album: <a href="/albums/<%=review.album_id%>"><%=review.album_title%></a></h3>
      <h3>Artist: <%=review.artist%></h3>
      <h3 class="review-list">Date Reviewed: <%=review.review_date.toDateString().substring(0, 15)%></h3>
      <h3 class="review-list"><a href="/reviews/<%=review.review_id%>"><%=review.review_title%></a></h3>
      <h3 class="review-list"><%=review.content%></h3>
      <button class="fa fa-trash"></button>
    <% }) %>

  <% } %>
<%-include ./partials/footer %>
