<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= profile.name %></title>
  <%- include ./partials/style_script %>
</head>
<body>
<%- include ./partials/navbar %>
<div class="profile-info">
  <h1><%= profile.name %></h1>
  <h1><%= profile.email %></h1>
  <h1>Joined: <%= profile.join_date.toDateString().substring(0, 15) %></h1>

  <% if(reviews.length === 0) {%>
    <h3>No reviews yet!</h3>
    <% } else { %>
      <br>
      <br>
      <h3>Reviews</h3>
      <% reviews.forEach(function(review){ %>
        <div class="single-review">
          <h3 class="title-reviewed col-sm-8"><a href="/albums/<%=review.album_id%>"><%=review.album_title%></a></h3>
          <h6 class="review-date"><%=review.review_date.toDateString().substring(0, 15)%></h6>
          <h6 class="review-content"><%=review.content%></h6>
          <% if(user.id === review.author) {%>
            <button class="fa fa-trash" id="delete-review-button"></button>
          <% } %>
          <br>
          <br>
          <br>
        </div>

      <% }) %>

    <% } %>
</div>
<script type="text/javascript" src="/script.js"></script>
<%-include ./partials/footer %>
